<a href="https://colab.research.google.com/github/Samrajan2919/SAM/blob/master/DBSCAN_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 import numpy as np
import pandas as pd

In [5]:
 
 
dataset=pd.read_csv('/content/drive/My Drive/datasets_7721_10938_Mall_Customers.csv')
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [8]:
 X = dataset.iloc[:, [3, 4]].values

In [9]:
 from sklearn.cluster import DBSCAN
dbscan=DBSCAN(eps=3,min_samples=4)

In [10]:
 model=dbscan.fit(X)

In [11]:
 labels=model.labels_

In [12]:
 from sklearn import metrics
 
#identifying the points which makes up our core points
sample_cores=np.zeros_like(labels,dtype=bool)
 
sample_cores[dbscan.core_sample_indices_]=True

In [13]:
 #Calculating the number of clusters
 
n_clusters=len(set(labels))- (1 if -1 in labels else 0)

In [14]:
 print(metrics.silhouette_score(X,labels))

-0.1908319132560097